.button {
    padding: 20px;
    font-size: 1.5rem;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #21a1f1;
  }
  